html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  @apply bg-blue-gray-900 text-amber-50;
}

body {
  background-image: linear-gradient(to top, transparent, #000a)
}

* {
  outline: none !important;
}

.cloak {
  display: revert;
}

header, footer {
  @apply text-center select-none;
}

header {
  @apply bg-gradient-52 p-1 opacity-80;
  filter: invert(1);
  h1 {
    @apply font-serif font-semibold;
  }
}

footer {
  transform: scale(0.666);
  opacity: 0.5;
}

h1, h2, h3 {
  @apply text-amber-200 text-center;
}

h1 {
  @apply @text-4xl;
}

h2 {
  @apply @text-3xl;
}

h3 {
  @apply @text-xl;
}

p, h2 {
  @apply my-4;
}

.btn {
  padding: 0.5rem 1rem;
  border-width: 0.25rem;
  border-style: outset;
  border-radius: 0.5rem;

  @apply text-gray-200 bg-blue-gray-500;

  &:hover {
    borderStyle: solid;
    transform: translate(-1px; -1px);
  }
  &:active {
    borderStyle: inset;
    tansform: translate(2px; 2px);
  }
  &:disabled {
    borderStyle: ridge;
    cursor: not-allowed;
    opacity: 0.65;
  }

  &.btn-reload {
    @apply opacity-50 font-mono text-lg block mx-auto bg-opacity-30;
  }
}
